/* 공통 */
body{
  background: rgb(31,31,31);
  font-family: 'Nanum Pen Script', cursive;
}

h2{
  font-size: 50px;
}

#bodyContainer{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  color: white;
}

.row{
  margin: 0;
}

.row > div{
  padding: 0;
}

#mainView{
    height: 100vh;
}

#mainContainer{
  height: 95%;
  overflow: hidden;
}

#mainContents{
  height: 100%;
}

.contentSize{
  float: left;
  height: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
}

.contentSize::-webkit-scrollbar{
  display:none;
}

/* hello */
/* 왼쪽 사이드 */
#myContainer{
  height: 100vh;
}

#info{
  text-align: center;
  display: table;
  margin: 0 auto;
  height: 30%;
}

#infoContainer{
  display: table-cell;
  vertical-align: middle;
}

#infoContainer h1{
  margin: 0;
}

#infoContainer > img{
  width: 150px;
  height: 150px;
  border: 3px solid white;
  border-radius: 100%;
}

#infoContainer p {
  font-size: 25px;
  margin: 0;
}

/* 타임라인 */
#timeline{
  height: 60%;
  overflow: scroll;
  -ms-overflow-style: none;
}

#timeline::-webkit-scrollbar{
  display:none;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

#timeline h4{
  margin-left: 10px;
    font-size: 30px;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: rgb(31,31,31);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid white;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

ul.timeline > li > p{
  margin-left: 25px;
}

ul.timeline > li > p:nth-child(1){
  font-size: 25px;
  line-height: 20px
}

.timelineTitle{
    font-size: 25px;
    word-break: keep-all;
}

.timelineContent{
    font-size: 23px;
    word-break: keep-all;
}

/* sns */
#sns{
    height: 10%;
}

#sns > div{
  text-align: center;
}

#sns > div > a > div{
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 40px;
  border: 1px solid white;
  border-radius: 100%;
}

#sns > div > a > div:hover{
  background-color: rgba(255,255,255,0.2);
}

/* 오른쪽 사이드 */
#listRow{
  height: 5%;
  position: relative;
  text-align: center;
}

.listItem{
  text-align: center;
  height: 100%;
  font-size: 25px;
}

.listItem:hover{
  cursor: pointer;
}

#bar{
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: white;

}

#helloContent{
  height: 100%;
}

#mainIntroduce{
  height: 65%;
  border-bottom: 3px solid white;
  box-sizing: border-box;
}

#mainLeft{
  height: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
}

#mainLeft::-webkit-scrollbar{
  display:none;
}

#mainLeft h3{
  font-size: 30px;
}

#mainLeft p{
  font-size: 25px;
}

#mainRight{
  height: 100%;
}

#believe{
  height: 30%;
}

#believe p{
  font-size: 32px;
}

#likes{
  height: 70%;
}

#likes {
  font-size: 30px;
}

#likes div img{
  width: 80%;
}

#subContent{
  height: 35%;
  margin-right: 10px;
}

#education div{
  font-size: 25px;
  text-align: center;
}

.personality{
  font-size: 35px;
  margin-right: 10px;
  color:rgb(119,148,176);
}

/* 기술 부분 */
#skillsContent > div > div{
  text-align: center;
}
#skillsContent img{
  width: 60%
}

#skillsContent p{
  font-size: 25px;
}

/* 프로젝트 부분 */
#projectsContent h2{
  border-bottom: 1px solid white;
  font-size: 30px;
}

#projectsContent > .row{
  margin-bottom: 15px;
}

.linkContainer{
  position: relative;
}

#projectsContent p{
  font-size: 23px;
}

.icon-globe{
  color: green;
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  font-size: 25px;
}

.projectInfo h3{
  font-size: 30px;
}

.projectInfo p{
  margin-left: 15px;
}

/* 교육 부분 */
#educationContent h2{
  font-size: 30px;
}

#educationContent p, .educateList li{
  font-size: 25px;
}

.educateList{
  overflow: hidden;
}

.educateBtn:hover{
  cursor: pointer;
}
